################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NZWalk/.vs/NZWalk/v17
/NZWalk/.vs/NZWalk/FileContentIndex
/NZWalk/NZWalk-API/obj
/NZWalk/.vs
/NZWalk/NZWalk-API/bin/Debug/net8.0

ImageStore/
/Logs
NZWalk/NZWalk-API/Logs
/NZWalk/NZWalk.UI/obj/Debug/net7.0
bin/
/NZWalk/NZWalk.UI/bin
NZWalk.UI/obj/
net7.0/


**/obj/
/NZWalk/NZWalk.UI/obj/Debug/net7.0/
